#budgetText input {
    height: 18px;
    margin-right: 30px;
}

.budget-below {
    text-align: right !important;
    color: #d93f3c !important;
}

.budget-over {
    text-align: right !important;
    color: #65a637 !important;
}