.section {
  .section-header {
    &.expandable {
      cursor: pointer;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &.empty-body-section {
      display: none;
    }
  }

  .pre-section {
    margin-bottom: 30px;
  }
}

.billing-setting-section, .other-setting-section {
  margin-bottom: 16px;
  
  .section-label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}
