.table-border {
  border: 1px solid #bfbfbf;
}

table .col-actions i {
  cursor: pointer;
  font-size: 16px;

  &.disabled {
    cursor: not-allowed;
    color: #ccc;
  }
}

table td.vmiddle {
  vertical-align: middle;
}

.caption {
  position: absolute;
  margin-top: -25px;
  width: 100%;

  .spinner-small-gray {
    float: left;
    margin: 0 5px;
  }
}

table .remove .row-remove {
  color: black;
  font-size: 16px;
}