$panel-background: #f5f5f5;
$chart-title-height: 36px;
$topology-height: 500px;

@import "autocomplete.pcss";

@import "topology.pcss";

@import "playback.pcss";

@import "recommendations.pcss";

@import "details.pcss";

.hide-global-filters {
    display: none;
}