.silvermine-header {

    .service-header {
        font-size: 1.6em;
        margin-left: 10px;
    }

    /* layout */
    padding: 10px;

    /* icons */
    .icons {
        font-size: 1.6em;
        margin-left: 80px;
        float: right;

        .icon-alert {
           margin-left: 20px;
        }

        .icon-label {
           margin-left: 5px;
        }

        i, label {
            display: inline-block;
        }
    }

    

}