/* icons */
i {
    background-color: transparent !important;
    vertical-align: middle;
}

.icon-check-circle{
    color: #65a637;
}

.icon-alert-warning.icon-alert:before {
    content: '\ECE2';
}

.icon-alert-warning {
    color: #fac51c;
}

.icon-alert-error {
    border-color: #d6563c;
    color: #d6563c;
}