.tooltip-inner {
    padding: 10px 10px 10px 15px;
    max-width: 500px;
    min-width: 200px;

    label, p {
        display: inline-block;
        text-align: left;
        margin: 0;
    }

    label {
        width: 30%;
        vertical-align: top;
    }

    p {
        width: 70%;
        word-wrap: break-word;
        word-break: normal;
    }
}