@import "./SingleValueRenderer.pcss";
@import "./TableBarRenderer.pcss";
@import "./TableCellRenderer.pcss";
@import "./TagInputView.pcss";
@import "./MessageView.pcss";

.slidenavList.scroll-group{
    max-height:350px !important;
}