.single-total {
    position: relative;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 200 !important;
    line-height: 0.8vw;
    color: grey;
    font-family: "Roboto","Droid","Helvetica Neue",Helvetica,Arial,sans-serif;
}