.main-section-body {
  background-color: white;
}

.app-page {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 15px 0;
}