<span data-html="true" class="icon-info-circle RI-basis-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title='
    <div>
        <p align="left">
            <strong>History</strong> insight helps you to understand your payment for the <strong>past</strong> year, and our recommended instance package and optimized payment in the same period.
        </p>
        <p style="line-height: 20%"></p>
        <p align="left">
            <strong>Prediction</strong> insight helps you to understand your payment for the <strong>following</strong> year, and our recommended instance package and optimized payment in the same period.
        </p>
    </div>
'></span>