<div class="header">
    <h3>Warning message settings</h3>
    <p>Select to enable the warning message notice.</p>
</div>
<div class="body">
    <input type="checkbox" class="message-setting-check" disabled id="overview-check" value="Overview"/><label class="message-setting-text" for="overview-check">Overview</label>
    <input type="checkbox" class="message-setting-check" disabled id="topology-check" value="Topology"/><label class="message-setting-text" for="topology-check">Topology</label>
    <input type="checkbox" class="message-setting-check" disabled id="timeline-check" value="Timeline"/><label class="message-setting-text" for="timeline-check">Timeline</label>
    <input type="checkbox" class="message-setting-check" disabled id="usage-check" value="Usage"/><label class="message-setting-text" for="usage-check">Usage</label>
    <input type="checkbox" class="message-setting-check" disabled id="security-check" value="Security"/><label class="message-setting-text" for="security-check">Security</label>
    <input type="checkbox" class="message-setting-check" disabled id="insight-check" value="Insights"/><label class="message-setting-text" for="insight-check">Insights</label>
    <input type="checkbox" class="message-setting-check" disabled id="billing-check" value="Billing"/><label class="message-setting-text" for="billing-check">Billing</label>
</div>