.message-setting-text {
    display: inline-block;
    font-size: 1.1em;
    margin: 0px 20px 0px 8px;
    cursor: pointer;
}

.message-setting-check {
    margin-top: 0px !important;
}

.message-setting-view {
    margin-top: 18px;
}