td.icon {
    text-align: center;
}
td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}
td.icon .S1 {
    color: red;
}
td.icon .S2, .S3 {
    color: orange;
}
td.icon .S4 {
    color: yellow;
}